body {
	margin: 0;
}

h1 {
	font-size: 35px;
	font-style: arial;
	font-weight: bolder;
	margin: 0 0 0 0;
	top: 5px;
	left: 60px;
}

a {
	text-decoration: none;
	display: block;
}

a:link {
	color: white;
}
a:visited { 
	color: white; 
}
a:hover { 
	color: #051152;
	background-color: white;
	opacity: .7;
}
a:active { 
	color: blue; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
	color: #14418a;
    text-align: auto;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

th {
	background-color: #14418a;
	border-top: 3px solid #ddd;
	border-bottom: 4px solid #ddd;
	color: white;
}

#design_G {
	margin-top: 3px;
	margin-bottom: 3px;
	height: 10px;
	width: 100%;
	background-color: #14418a;
	border-top: 3px #051152 solid;
	border-bottom: 3px #051152 solid;
}
#header {
	margin: 0px;
	padding-top: 50px; 
	height: 50px;
}

.title {
	margin-top: 15px;
	width: 600px;
	float: left;
}

.title a {
	color: black;
	text-decoration: none;
}
.title a:visited { 
	color: black;
}
.title a:active {
	color: #050099;
}

.menu {
	margin: 0 0 0 0; 
	width: 100%;
	position: absolute;
}

.menu li { 
	margin-right: 5%;
	float: right; 
	font-size: 20px;
	font-style: arial;
	font-weight: bolder;
	list-style: none;
}
.menu li a { 
	color: black;
	text-decoration: none;
	opacity: 0.5;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.menu li a:hover{
		color: #050099;
	opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}


/********************** 自己紹介 開始**********************/

.profile{
	margin: 0px auto 8px auto;
	width: 98%;
	height: 240px;
}

.profile_PhotoSpace{
	margin: 0px;
	width:200px;
	height: 240px;
	background-color: #F6F6F6;
	/*background-image: url();*/
	float: left;
}

.profile_Photo{
	margin: 0px auto 0px auto;
	width:85%;
	height: 240px;
	text-align: center;
	background-color: #9FC93C;
}

.profile_BasicInfo{
	margin: 0px;
	width: calc(100% - 200px);
	height: 240px;
	background-color: #F6F6F6;
	float: left;
}

.profile_BasicInfo li{
	font-size: 16px;
	list-style: none;
}

.profile_Appeal{
	margin: 0px auto 30px auto;
	width: 98%;
	background-color: #C4DEFF;
}

.profile_Appeal p{
	padding: 10px;
}


/**********************自己紹介 終了**********************/



#corp {
	margin-top: 30px;
	margin-left: 3%;
	margin-right: 3%;
	width: 94%;
	float: right;
	border-top: 1px solid #ddd;
	
}



/* ウェブブラウザの大きさが小さくなった時の設定 */
@media only screen and (max-width: 530px), only screen and (max-device-width: 530px) {
	h1{
		font-size: 26px;
	}
	p{
		font-size: 13px;
	}
	.menu li { 
		font-size: 16px;
	}

	.profile_BasicInfo li{
		font-size: 13.2px;
	}

	.profile_Photo {
		width: 95%;
	}
}
